@page "/"
@namespace AuthDemo.BlazorWebApplication.Pages

<PageTitle>Главная</PageTitle>

<h1>Добро пожаловать!</h1>

<p>Это демонстрационное приложение для работы с каталогом данных.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Каталог</h5>
                <p class="card-text">Просмотр и управление данными в каталоге.</p>
                <a href="/catalog" class="btn btn-primary">Перейти в каталог</a>
            </div>
        </div>
    </div>
</div>